// Base colors

$l-color--background: #7FFFD4;
$l-color--forground: #44475a;
$l-color--font: #000;

// As yet unused colors for light theme. DON'T DELETE
$l-color--highlight: #ededed;

// $l-color--warn: #ffb86c;
// $l-color--alert: #ff5555;
// $l-color--success: #50fa7b;

// $l-color--link: #bd93f9;