// My poor attempt at recreating the dracula theme https://draculatheme.com/

$d-color--background: #282a36;
$d-color--forground: #44475a;
$d-color--font: #f8f8f2;

$d-color--highlight: #ff79c6;
$d-color--accent: #bd93f9;

$d-color--warn: #ffb86c;
$d-color--alert: #ff5555;
$d-color--success: #50fa7b;


//*// Derived colours
$d-color--text-dark: darken($d-color--background, 10%);
$d-color--focus: $d-color--warn;
$d-color--link: $d-color--accent;
$d-color--button: $d-color--accent;
$d-color--button-hover: darken($d-color--accent, 10%);

//*// Mixins
@mixin d-foreground {
    background-color: $d-color--forground;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1), inset 4px 4px 6px rgba(255, 255, 255, .03);

    @include d-border--embossed
}

@mixin d-background--deep {
    color: $d-color--font;
        
    text-shadow: 0 0 4px rgba(0, 0, 0, .5); // Adds subtle text shadow. TODO find a better place for this as it affects the whole page?
    box-shadow: inset 3px 3px 8px 3px rgba(0,0,0,0.2);

    background-color: $d-color--background;
    background:
    radial-gradient(
        lighten($d-color--background, .6%) 3px,
        transparent 0,
        transparent 100%
    ),
    radial-gradient(
        darken($d-color--background, .6%), 3px,
        transparent 0,
        transparent 100%
    ),
    radial-gradient(
        $d-color--background 3px,
        transparent 0,
        transparent 100%
    ), snow;
    background-size: 7px 7px;
    background-position: 0 0, 2px 2px, -2px -2px;
}

@mixin d-border--debossed {
    border-bottom-color: lighten($d-color--forground, 10%);
    border-right-color: lighten($d-color--forground, 10%);
    border-left-color: darken($d-color--forground, 5%);
    border-top-color: darken($d-color--forground, 5%);
}

@mixin d-border--embossed {
    border-bottom-color: darken($d-color--forground, 5%);
    border-right-color:  darken($d-color--forground, 5%);
    border-left-color: lighten($d-color--forground, 10%);
    border-top-color: lighten($d-color--forground, 10%);
}