// My poor attempt at recreating the dracula theme https://draculatheme.com/

$d-color--background: #282a36;
$d-color--forground: #44475a;
$d-color--font: #f8f8f2;

$d-color--highlight: #ff79c6;
$d-color--accent: #bd93f9;

$d-color--warn: #ffb86c;
$d-color--alert: #ff5555;
$d-color--success: #50fa7b;


//*// Derived colours
$d-color--text-dark: darken($d-color--background, 10%);
$d-color--focus: $d-color--warn;
$d-color--link: $d-color--accent;
$d-color--button: $d-color--accent;
$d-color--button-hover: darken($d-color--accent, 10%);

//*// Mixins
@mixin d-foreground {
    background-color: $d-color--forground;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1), inset 4px 4px 6px rgba(255, 255, 255, .03);

    @include d-border--embossed
}

@mixin d-background--corrugated {
    background-image: radial-gradient(circle at center center, transparent,#12141a),
    repeating-linear-gradient(135deg, rgb(33,33,33) 0px,rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px,rgb(33,33,33) 11px,transparent 11px, transparent 21px),
    repeating-linear-gradient(45deg, #282a36 0px, #282a36 4px,transparent 4px, transparent 8px),
    linear-gradient(90deg, #12141a,rgb(33,33,33));
}

$darken-by: 10%;
$lighten-by: 10%;

@mixin d-border--debossed {
    @include border--debossed($color: $d-color--forground, $darken: $darken-by, $lighten: $lighten-by);
}

@mixin d-border--embossed {
    @include border--embossed($color: $d-color--forground, $darken: $darken-by, $lighten: $lighten-by);
}