body {
    /* System Fonts as used by GitHub */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #7FFFD4;
    margin: 10px;
    padding: 0;
}

.content {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
}

// Email form
.mailer {
    display: flex;
    flex-wrap: wrap;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0 auto 5px;
        box-sizing: border-box;
    }

    input {
        padding: 5px 0;
        margin: 0 auto;
    }

    li,
    label,
    input:not([type=submit]),
    textarea {
        display: block;
        width: calc(100% - 10px);
        resize: vertical;
    }

    input[type=submit] {
        padding: 10px 20px;
    }
}

.mailer__form {
    flex-grow: 1;
    width: 240px;
    max-width: 100%;
}

.mailer__preview {
    flex-grow: 1;
    width: 580px;
    max-width: 100%;
}

.mailer__preview-frame {
    width: 100%;
    height: 600px;
    resize: vertical;
}