// Styles for brightness mode button

#brightness-mode {
    width: $gauge--large;
    height: $gauge--large;

    background-color: #ccc; // TODO light theme colours
    border: solid 2px #000;

    border-radius: $guage--small;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: transform $transition-time ease-in-out, // Gives it spin with the transform property
    background-color $transition-time ease-in-out;
    
    &:after {
        content: "\263D";
        font-size: 42px;
        line-height: 35px;
        margin-left: 3px;
    }

    &:focus {
        outline: none;
        border-color: $l-color--forground;
    }
}

.dark #brightness-mode {
    transform: rotate(360deg);
    @include button--dark;
    
    &:after {
        content: "\263C";
        font-size: 36px;
        line-height: 32px;
        margin-left: -4px;
    }
}