.pannel {
    max-width: 600px;
    width: 50%;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .pannel {
        width: 100%;
    }
}

.pannel input,
.pannel textarea {
    display: block;
    width: calc(100% - 30px);
    padding: 5px;
    margin: 5px 2px;
}

.pannel button {
    margin: 5px 2px;
    padding: 6px 20px;
}

textarea {
    resize: vertical;
}

#config {
    min-height: 200px;
    height: 90%;
}