html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll; /* Show vertical scrollbar */
    overflow-x: hidden; /* Show horizontal scrollbar */
}

.content {
    /* System Fonts as used by GitHub */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: $Color1;
    color: $TextColor;
    padding: $Pad;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;

    &.dark {
        filter: invert(1);
    }
}

.main {
    border-radius: $BorderRadius;
    max-width: $SiteWidth;
    margin: 0 auto;
    padding: $Pad;
    background-color: #fff;
}

body.full-width .main {
    max-width: 100%;
    margin: $Pad;
}