html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;

    @include body-font;

    .dark * { // Hightlight and focus colours.
        outline-color: $d-color--focus;

        ::selection {
            background: fade-out( $d-color--highlight, .3 ); /* WebKit/Blink Browsers */
        }
        ::-moz-selection {
            background: fade-out( $d-color--highlight, .3 ); /* Gecko Browsers */
        }
    }
}

.content {
    position: relative;
    background-color: $l-color--background;
    padding: $gauge--medium;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
    // transition: $theme-transition; // Looks ugly right now. Once fixed add back in
    overflow-y: scroll; /* Show vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */

    &.dark {

        @include d-background--deep;

        a {
            color: $d-color--link;
        }

        iframe {
            background-color: $d-color--font;
        }
    }
}

.main {
    border-radius: $border-radius;
    max-width: $site-width;
    margin: 0 auto;
    padding: $gauge--medium;
    background-color: #fff;
    border: solid 1px black;
}

.dark .main {
    @include d-foreground;
}

body.full-width .main {
    max-width: 100%;
    margin: $gauge--medium;

    @media (max-width: $break--mobile) {
        margin: 0;
    }
}