.form {
    textarea {
        resize: vertical;
        width: calc(100% - 30px);
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0 auto 5px;
        box-sizing: border-box;
    }

    input {
        width: calc(100% - 50px);
        padding: 10px;
        margin: 5px 2px;
    }

    label {
        margin-bottom: 3px;
    }

    li,
    label,
    input:not([type=submit]) {
        display: block;
        resize: vertical;
        font-size: 16px;
    }
}

.dark {
    input,
    textarea {
        background: $d-color2;
        color: $d-foreground;
        border-color: #44475a;
        border-radius: 5px;
        // border-bottom-color: lighten($d-color1, 10%);
        // border-left-color:  lighten($d-color1, 10%);
        // border-right-color: darken($d-color1, 10%);
        // border-top-color: darken($d-color1, 10%);
    }
}