// General form styling

.form {
    textarea {
        resize: vertical;
        width: calc(100% - 30px); // TODO improve this
        padding: $gauge--small;
        box-sizing: border-box;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0 auto $gauge--tiny;    
    }

    input {
        width: calc(100% - 34px); // TODO improve this
        padding: $gauge--small;
        margin: $gauge--tiny 2px;
        box-sizing: border-box;
    }

    input::-webkit-outer-spin-button, // Removes spinner button from number inputs
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }

    label {
        margin-bottom: 3px;
    }

    li,
    label,
    input:not([type=submit]) {
        display: block;
        resize: vertical;
        font-size: 16px;
    }
}

.dark {
    input,
    textarea {
        background: $d-color--background;
        color: $d-color--font;
        border-color: #44475a;
        border-radius: $gauge--tiny;
        caret-color: $d-color--highlight;

        @include d-border--debossed;
    }

    input:-webkit-autofill, // Removes a bunch of weirdness caused by browser autofill 
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: $d-color--font;
        -webkit-box-shadow: 0 0 0px 1000px $d-color--background inset;
        box-shadow: 0 0 0px 1000px $d-color--background inset;
        transition: background-color 5000s ease-in-out 0s;
        border: $d-color--forground 2px inset!important;
        border-radius: 3px;

        &::first-line {
            font-size: $body-font--size;
            outline: none;
        }
    }
}