.message {
    padding: $gauge--small;
    margin-bottom: $gauge--medium;
    border-radius: $gauge--tiny;
    background-color: $l-color--highlight;
}

.dark .message {
    background-color: lighten($d-color--accent, 6%);
    color: $d-color--text-dark;
    text-shadow: 0 0 4px rgba(255, 255, 255, .5);
    font-weight: bold;
}

.message[state="success"] {
    background-color: $d-color--success;
}

.message[state="alert"] {
    background-color: $d-color--alert;
}

.message[state="warn"] {
    background-color: $d-color--warn;
}