.body--constructor {
    .grid-item {
        max-width: 600px;
        width: 50%;
        margin-bottom: 10px;
    }
    
    @media (max-width: 600px) {
        .grid-item {
            width: 100%;
        }
    }
    

    
    #config {
        min-height: 200px;
        height: 90%;
    }
}
