.body--constructor {
    .pannel {
        max-width: 600px;
        width: 50%;
        margin-bottom: $gauge--small;

        &:last-child textarea {
            width: 100%;
        }
    }

    label {
        margin-right: $gauge--large;
    }
    
    @media (max-width: $break--mobile) {
        .pannel {
            width: 100%;
        }

        textarea,
        form > * {
            width: 100%;
        }
    }

    .config {
        min-height: 200px;
        height: 90%;
    }
}
