.body--constructor {
    .grid-item {
        max-width: 600px;
        width: 50%;
        margin-bottom: 10px;
    }

    label {
        margin-right: $gauge--large;
    }
    
    @media (max-width: $break--mobile) {
        .grid-item {
            width: 100%;
        }

        textarea,
        form > * {
            width: 100%;
        }
    }

    #config {
        min-height: 200px;
        height: 90%;
    }
}
