.body--mailer {
    .form__inputs {
        flex-grow: 1;
        width: 400px;
        max-width: 100%;
    }
    
    .mailer__preview {
        flex-grow: 1;
        width: 580px;
        max-width: 100%;
    }
    
    .mailer__preview-frame {
        width: 100%;
        height: 600px;
        resize: vertical;
    }
}