.body--mailer {
    .mailer__inputs {
        width: 400px;
        max-width: 100%;
    }
    
    .mailer__preview {
        width: 580px;
        max-width: 100%;
    }
    
    .mailer__preview-frame {
        width: 100%;
        height: 462px;
        resize: vertical;
        border-radius: $gauge--tiny;
        border-bottom-right-radius: 0;
    }

    .dark {
        .mailer__preview-frame {
            @include d-border--debossed;
        }

        textarea {
            @include d-border--debossed;
            border-width: 2px;
        }
    }
}